.imgFill {
    height: 450px;
    border: black;
    border-radius: 20%;
}

.imgFill1 {
    height: 200px;
}

.skillsDesc1 {
    margin-left: 10%;
    margin-top: 20%;
}

.skillsDesc2 {
    margin-left: 130%;
    margin-bottom: 20%;
}

.skillsTitles1 {
    margin-left: 30%;
}

.skillsTitles2 {
    margin-left: 130%;
}

.portfolioList {
    background: linear-gradient(180deg, #5BCEFA 20%, #F5A9B8 20%, 40%, #FFFFFF 40%, 60%, #F5A9B8 60%, 80%, #5BCEFA 80%);
}

#bootstrap {
    height: 150px;
    margin-top: 30%;
    margin-left: 120%;
}

h2 {
    font-size: 500%;
    color: black;
}

.py-5 {
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    color: white;
}

.col-lg-3 col-md-3 col-sm-6 text-center {
    float: left;
}

#html {
    height: 150px;
    margin-left: 20%;
}

#css {
    height: 150px;
    margin-left: 5%;
}

#javascript {
    height: 150px;
    margin-left: 5%;
}

#bootstrap {
    height: 150px;
    margin-left: -25%;
}

#github {
    height: 150px;
    margin-left: -30%;
    margin-bottom: -30%;
}

#firebase {
    height: 150px;
    margin-left: -30%;
    margin-bottom: -30%;
}
